BasedOnStyle: WebKit
Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: MultiLine
BinPackArguments: true
BinPackParameters: true
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakBeforeInheritanceComma: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
ColumnLimit: 120
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"(AudioRecorder|GroqApiClient|GroqSttClient|GroqLlmClient|DictationCoordinator|TranscriptionModel|TextInjectorClient|ColorUtils|DBusService|ClipboardManager|DaemonConnector|ApiRequestHandler|GroqUsageTracker|LicenseHelper|ipc_server|uinput_device|capability|logging|LoggingCategories)\.h"'
    Priority: 1
    SortPriority: 1
  - Regex: '^"(core|ui|keyinjectord|common)/.*"'
    Priority: 2
    SortPriority: 2
  - Regex: '^".*"'
    Priority: 2
    SortPriority: 3
  - Regex: '^<Q[A-Z0-9].*>'
    Priority: 3
    SortPriority: 4
  - Regex: '^<Qt[A-Za-z0-9]+.*>'
    Priority: 3
    SortPriority: 5
  - Regex: '^<(qt6keychain|wayland-client|wayland-cursor|xkbcommon)/.*>'
    Priority: 4
    SortPriority: 6
  - Regex: '^<[a-z_0-9]+>$'
    Priority: 5
    SortPriority: 7
  - Regex: '^<(sys|linux|asm|netinet|arpa)/.*>'
    Priority: 6
    SortPriority: 8
  - Regex: '^<.*\.h>$'
    Priority: 6
    SortPriority: 9
IndentCaseLabels: true
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PointerAlignment: Left
ReflowComments: true
SortIncludes: CaseSensitive
Standard: Latest
UseTab: Never

StatementMacros:
  - Q_OBJECT
  - Q_GADGET
  - Q_NAMESPACE
  - Q_NAMESPACE_EXPORT
  - Q_ENUM_NS
  - Q_FLAG_NS
  - Q_CONSTINIT
  - Q_SIGNALS
  - Q_SLOTS
  - Q_SIGNAL
  - Q_SLOT
  - QML_ELEMENT
  - QML_SINGLETON
  - QML_UNCREATABLE
  - QML_ANONYMOUS
  - QML_NAMED_ELEMENT
  - QML_ATTACHED
  - QML_FOREIGN
  - QML_EXTENDED
  - Q_UNUSED

WhitespaceSensitiveMacros:
  - Q_PROPERTY
