pkgbase = qtranscribe
	pkgdesc = Fast and modern speech-to-text desktop application
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/Vidhan31/qtranscribe
	install = qtranscribe.install
	arch = x86_64
	license = GPL-3.0-or-later
	checkdepends = desktop-file-utils
	makedepends = cmake
	makedepends = ninja
	makedepends = gcc
	makedepends = wayland-protocols
	makedepends = pkgconf
	makedepends = vulkan-headers
	makedepends = shaderc
	makedepends = spirv-headers
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = qt6-svg
	depends = qt6-wayland
	depends = qtkeychain-qt6
	depends = libevdev
	depends = libcap
	depends = wayland
	depends = wl-clipboard
	depends = vulkan-icd-loader
	depends = hicolor-icon-theme
	source = qtranscribe-1.3.0.tar.gz::https://github.com/Vidhan31/qtranscribe/archive/v1.3.0.tar.gz
	sha256sums = SKIP

pkgname = qtranscribe
